body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #333;
}

#gameArea {
    width: 600px;
    height: 400px;
    position: relative;
    background-color: #f1f1f1;
    overflow: hidden;
}

#paddle {
    width: 100px;
    height: 20px;
    background-color: #0099ff;
    position: absolute;
    bottom: 5px;
    border-radius: 15px;
    left: 50%;
    margin-bottom: 10px;
    border-radius: 15px;
    transform: translateX(-50%);
}

#ball {
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 50%;
    position: absolute;
    bottom: 26px;
    left: 50%;
    transform: translateX(-50%);
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0099ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #007acc;
}